<!DOCTYPE html>
 <head>
    <link rel="stylesheet" type="text/css" href="/footer.css"

 <body> 

   <div class="footer">
   
   <div class="ui container">
      Express Portfolio - Web Development
      </div>
  </div>
  <script src="jquery/dist/jquery.slim.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/app.js"></script>
  

</html>