<% include partials/header.ejs %>

  <div class="container">
    <h2 style="text-align: left;"><%= title %></h2>
    <h3 style="text-align: left">Stella Massa Rebolledo</h3>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/images/YoenVestidoAzul(2).jpg" alt="Stella Massa Rebolledo">
    </div>
    <div class="container">
        <p class="text">I'm a Geomatics Engineer studying Software. I have collaborated in Projects regarding Mapping and with Census Authority back in Panama</p>
      </div>
  </div>
  
    </div>
  
<% include partials/footer.ejs %>