<% include partials/header.ejs %>

  <div class="container">
    <h2 style="text-align: left;"><%= title %></h2>
    <div style="width:20%; text-align:center">
      <img class="card-img-center" src="/images/YoenVestidoAzul(2).jpg" alt="Stella Massa Rebolledo">
    </div>
    <div class="container">
        <p class="text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  
    
</div>
  
<% include partials/footer.ejs %>