<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <div class="container p-3 my-3 bg-dark text-white">
    <p>email: stella.massa.rebolledo@gmail.com</p>
    <p>phone:(+1) 847</p>
  </div>


<% include partials/footer.ejs %>