<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <div class="container p-10 my-3 bg-dark text-white">
    <p>Email Adress: stella.massa.rebolledo@gmail.com</p>
    <p>Phone Number:(+1) 647-839-7052</p>
    <p>In.: www.linkedin.com/in/stella-massa-rebolledo</p>
  </div>


<% include partials/footer.ejs %>