<% include partials/header.ejs %>
  
  <h1 style="text-align: left;"><%= title %></h1>

  <div class="container">
    <table class="table">
      <thread>
       <tr></tr>
        <tr>Project</tr>
        <tr>Information</tr>
    </table>
  </div>


<% include partials/footer.ejs %>