<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <div class="container">
    <table class="table">
      <thead>
       <tr>
          <th>Project</th>
          <th>Information</th>
        </tr>  
      </thead>
      <tbody>
        <tr>
          <td>Panama Census 2022</td>
          <td>Make maps for census purposes and statistical surveys, and digitize the information acquired in field surveys, using satellite and aerial imagery. </td>
        </tr>
        <tr>
          <td>Determine the susceptibility to slides in El Cope and rounda</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


<% include partials/footer.ejs %>