<% include partials/header.ejs %>
  
  <h1 style="text-align: left;"><%= title %></h1>

  <div class="container">
    <table class="table">
      <thead>
       <tr>
          <th>Project</th>
          <th>Information</th>
        </tr>  
      </thead>
      <tbody>
        <td>Census 20</td>
      </tbody>
    </table>
  </div>


<% include partials/footer.ejs %>