<% include partials/header.ejs %>
  
  <h1 style="text-align: left;"><%= title %></h1>

  <div class="container">
    <table class="table">
      <thead>
       <tr>
          <th>Project</th>
          <th>Information</th>
        </tr>  
      </thead>
      <tbody>
        <td>Panama Census 2022</td>
        <td>-	Make maps for census purposes and statistical surveys</td>
      </tbody>
    </table>
  </div>


<% include partials/footer.ejs %>