<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <hr class="my-4">

  <div class="container">
    <h3><Skills and Tools</h3>
    <ul>
      <li></li>
    </ul>
  </div>

<% include partials/footer.ejs %>